*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);

}

div.main{
    border: 3px solid  white ;
    border-radius: 20px;
    box-shadow: 0 2px 14px white;
    width: 480px;
    height: 300px;
    text-align: center;
    align-items: center;


}

div.birth{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;
    font-size: 15px;
    font-family: "Arial Rouned MT Bold","Helvetica Rounded",Arial,sans-serif;
}

div.p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

button{
    border: 5px solid white;
    box-shadow: 0 2px 14px black;
    width: 200px;
    padding: 3px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

button:hover{
    background: #e91e63;
    transform: scale(1.05);
    transition: 0.3s;
}

.balloons span{
    position:absolute;
    font-size:50px;
    top:-100px;
    animation:fall 8s linear infinite;
}

.balloons span:nth-child(1){left:10%; animation-delay:0s;}
.balloons span:nth-child(2){left:25%; animation-delay:0.5s;}
.balloons span:nth-child(3){left:40%; animation-delay:1s;}
.balloons span:nth-child(4){left:55%; animation-delay:1.5s;}
.balloons span:nth-child(5){left:70%; animation-delay:2s;}
.balloons span:nth-child(6){left:85%; animation-delay:2.5s;}
.balloons span:nth-child(7){left:90%; animation-delay:3s;}
.balloons span:nth-child(8){left:95%; animation-delay:3.5s;}

@keyframes fall{
    from{
        transform:translateY(-150px);
    }
    to{
        transform:translateY(900px);
    }








